.example-card {
    max-width: 400px;
}

.example-header-image {
    background-size: cover;
}
mat-card-title {
    word-break: break-all;
}
.unicorn-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
